head
  title Great Grub Camp Food
  link(rel="stylesheet" type="text/css" href="greatgrub.css")
  link(
    rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  )

body
  .container.center
    .jumbotron.veil
      h1.whitesmoke Great Grub Camp Food
      h2.lightgray for posh quality vacationeers
    .row
      .col-md-6
        .jumbotron.veil
          textarea.wide(
            placeholder="Excited? Let Laura know!"
            rows=5
          )
          .signup.hat
      .col-md-6
        .jumbotron.veil
          a(
            class="twitter-timeline"
            href="https://twitter.com/search?q=%23GreatGrubCampFood"
            data-widget-id="389272493711585280"
            data-chrome="noborders transparent"
            data-theme="dark"
          )
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="greatgrub.js")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
